USE [master]
GO
/****** Object:  Database [QuanLyBenhAn]    Script Date: 3/16/2021 9:00:13 PM ******/
CREATE DATABASE [QuanLyBenhAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBenhAn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLBenhAn.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBenhAn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLBenhAn_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBenhAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBenhAn]
GO
/****** Object:  Table [dbo].[LichKham]    Script Date: 3/16/2021 9:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LichKham](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaSoKhamBenh] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [varchar](50) NULL,
	[GioiTinh] [smallint] NULL,
	[SDT] [varchar](50) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[NgayKham] [nvarchar](50) NULL,
	[MoTaTrieuChung] [nvarchar](500) NULL,
 CONSTRAINT [PK_LichKham] PRIMARY KEY CLUSTERED 
(
	[MaSoKhamBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogIn]    Script Date: 3/16/2021 9:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogIn](
	[UserID] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[MaNhanVien] [varchar](50) NULL,
	[QuyenTruyCap] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QLBenhAn]    Script Date: 3/16/2021 9:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QLBenhAn](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaBenhAn] [varchar](50) NOT NULL,
	[TenBenhNhan] [nvarchar](50) NOT NULL,
	[NguoiPhuTrach] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Khoa] [nvarchar](50) NULL,
	[MoTa] [nvarchar](500) NULL,
	[TinhTrang] [smallint] NULL,
	[Hinh] [image] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaBenhAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThongTinBenhAn]    Script Date: 3/16/2021 9:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThongTinBenhAn](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaBenhNhan] [varchar](50) NOT NULL,
	[MaBenhAn] [varchar](50) NULL,
	[MaKhoa] [varchar](50) NULL,
	[NgayVao] [varchar](50) NULL,
	[NgayRa] [varchar](50) NULL,
	[TenBenhNhan] [nvarchar](50) NULL,
	[Tuoi] [varchar](50) NULL,
	[GioiTinh] [smallint] NULL,
	[ChungMinhThu] [varchar](50) NULL,
	[QueQuan] [nvarchar](500) NULL,
 CONSTRAINT [PK_ThongTinBenhAn2] PRIMARY KEY CLUSTERED 
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LichKham] ON 

INSERT [dbo].[LichKham] ([STT], [MaSoKhamBenh], [HoTen], [NgaySinh], [GioiTinh], [SDT], [NgheNghiep], [Email], [DiaChi], [NgayKham], [MoTaTrieuChung]) VALUES (2, N'111', N'Phan', N'2021-01-15', 1, N'0000', N'Tự Do', N'KhongCo', N'Ngũ Hành Sơn - Đà Nẵng', N'2021-01-02', N'Ước điểm cao')
INSERT [dbo].[LichKham] ([STT], [MaSoKhamBenh], [HoTen], [NgaySinh], [GioiTinh], [SDT], [NgheNghiep], [Email], [DiaChi], [NgayKham], [MoTaTrieuChung]) VALUES (3, N'112', N'Nguyễn', N'2021-01-01', 1, N'111', N'tự do', N'koco', N'Việt Nam ', N'2021-01-02', N'Thiếu quà')
INSERT [dbo].[LichKham] ([STT], [MaSoKhamBenh], [HoTen], [NgaySinh], [GioiTinh], [SDT], [NgheNghiep], [Email], [DiaChi], [NgayKham], [MoTaTrieuChung]) VALUES (4, N'12460', N'Trần Bệnh Nhân', N'2021-01-01', 0, N'01234', N'Tự Do', N'Khong co', N'Việt Nam', N'2021-01-08', N'Thiếu Tiền')
SET IDENTITY_INSERT [dbo].[LichKham] OFF
GO
INSERT [dbo].[LogIn] ([UserID], [Password], [Ho], [Ten], [MaNhanVien], [QuyenTruyCap]) VALUES (N'quanghuy', N'123456', N'le', N'huy', N'123456', NULL)
INSERT [dbo].[LogIn] ([UserID], [Password], [Ho], [Ten], [MaNhanVien], [QuyenTruyCap]) VALUES (N'domytai', N'1', N'tai', N'do', N'123', NULL)
INSERT [dbo].[LogIn] ([UserID], [Password], [Ho], [Ten], [MaNhanVien], [QuyenTruyCap]) VALUES (N'quanghuy', N'123456', N'Lê', N'Huy', N'123456', N'Nhan Viên Kham Benh')
GO
SET IDENTITY_INSERT [dbo].[QLBenhAn] ON 

INSERT [dbo].[QLBenhAn] ([STT], [MaBenhAn], [TenBenhNhan], [NguoiPhuTrach], [Email], [Khoa], [MoTa], [TinhTrang], [Hinh]) VALUES (4, N'003', N'Phạm Bệnh Nhân', N'Bác sĩ', N'khong co', N'B-Ngoại', N'Sốt', 0, NULL)
SET IDENTITY_INSERT [dbo].[QLBenhAn] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongTinBenhAn] ON 

INSERT [dbo].[ThongTinBenhAn] ([STT], [MaBenhNhan], [MaBenhAn], [MaKhoa], [NgayVao], [NgayRa], [TenBenhNhan], [Tuoi], [GioiTinh], [ChungMinhThu], [QueQuan]) VALUES (1, N'001', N'001', N'A-101', N'2021-01-01', N'2021-01-01', N'Nguyễn Bệnh Nhân', N'17', 1, N'0000000000', N'Việt Nam')
INSERT [dbo].[ThongTinBenhAn] ([STT], [MaBenhNhan], [MaBenhAn], [MaKhoa], [NgayVao], [NgayRa], [TenBenhNhan], [Tuoi], [GioiTinh], [ChungMinhThu], [QueQuan]) VALUES (2, N'002', N'002', N'A-101', N'2021-01-01', N'2021-01-01', N'Phan Bệnh Nhân', N'18', 0, N'0000000111', N'Việt Nam')
INSERT [dbo].[ThongTinBenhAn] ([STT], [MaBenhNhan], [MaBenhAn], [MaKhoa], [NgayVao], [NgayRa], [TenBenhNhan], [Tuoi], [GioiTinh], [ChungMinhThu], [QueQuan]) VALUES (3, N'003', N'003', N'A-102', N'2021-01-08', N'2021-01-08', N'Phan Bệnh Nhân', N'19', 0, N'000022222', N'Việt Nam')
SET IDENTITY_INSERT [dbo].[ThongTinBenhAn] OFF
GO
USE [master]
GO
